@model SoftUniJobPlatform.Web.ViewModels.Categories.AllCategoriesViewModel
@{
    this.ViewData["Title"] = "Admin dashboard";
}

<h1 align="center">@this.ViewData["Title"]</h1>

<div class="button-holder">
    <a asp-area="Administration" asp-controller="Dashboard" asp-action="Users" class="btn btn-info float-lg-none">Users</a>

</div>

<hr>
<h2 align="center">Categories Page(@Model.Categories.Count())</h2>

<a asp-area="Administration" asp-controller="Dashboard" asp-action="CreateCategory" class="btn btn-info float-right ">New Category</a>

<div>
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Image</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Jobs</th>
                <th scope="col">Action</th>


            </tr>
        </thead>
        @foreach (var category in Model.Categories)
        {
            <tbody>
                <tr>

                    <th scope="row"></th>
                    <td><img src="@category.ImageUrl" width="100" class="mr-3" alt="@category.Title"></td>
                    <td>@category.Title</td>
                    <td>@category.Description</td>
                    <td>@category.Jobs.Count()</td>
                    <td>
                        <a 
                           class="btn btn-primary" asp-controller="Dashboard" asp-action="EditCategory" asp-route-id="@category.Id">Edit</a>
                        <a class="btn btn-danger" asp-controller="Dashboard" asp-action="DeleteCategory" asp-route-id="@category.Id">Delete</a>
                    </td>

                </tr>
            </tbody>
        }
    </table>
</div>
<script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
<script>
    $(".btn-danger").click(function (e) {
        if (confirm("Are you sure?")) {
            alert('OK');
        }
        else {
            e.preventDefault();
        }
    });
</script>