@using SoftUniJobPlatform.Services.Data
@model SoftUniJobPlatform.Web.ViewModels.Student.StudentJobViewModel
@inject IJobsService JobsService
@inject IApplicationUsersService UsersService
@{
    this.ViewData["Title"] = "Student dashboard";

}
<a class="button btn-primary" asp-area="Student" asp-controller="Dashboard" asp-action="AllCourses">Add Course</a>
<a class="button btn-warning" asp-area="Student" asp-controller="Dashboard" asp-action="MyCourses">My Courses</a>
@if (Model.StudentJobs.Any())
{
<h1 align="center">My application @Model.StudentJobs.Count()</h1>
<ul class="list-unstyled">
    @foreach (var studentJob in @Model.StudentJobs)
        {

            var job = JobsService.JobById(studentJob.JobId);
            var user = UsersService.GetStudentById(job.ApplicationUserId);


    <li class="media">
        <img class="img-fluid" height="200" width="200" src="@user.ImageUrl" alt="@job.Title">
        <div class="media-body">
            <h5 class="mt-0 mb-1">List-based media object</h5>
            @job.Description
        </div>
    </li>
    <hr>
        }
</ul>
}
else
{
<h1> No job offer</h1>
}
