@using Microsoft.CodeAnalysis.CSharp.Syntax
@model SoftUniJobPlatform.Web.ViewModels.Administration.Dashboard.AllUsersViewModel
@{
    ViewData["Title"] = "Users";
}



<<h1 align="center">Users Page(@Model.Users.Count())</h1>

<<div>
    <table class="table table-hover table-dark">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Username</th>
            <th scope="col">CreatedOn</th>

        </tr>
        </thead>
        @foreach (var user in Model.Users)
        {
            <tbody>
            <tr>

                <th scope="row"></th>
                <td><img src="@user.ViewImage" width="80" class="mr-3" alt="@user.Username"></td>
                <td>@user.Username</td>
                <td>@user.ViewCreatedOn</td>
                <td>
                    <a class="button btn-outline-warning" asp-area="" asp-controller="Student" asp-action="Details" asp-route-id=@user.Id>Details</a>

                </td>

            </tr>
            </tbody>
        }
    </table>
</div>

