@using SoftUniJobPlatform.Services.Data
@model SoftUniJobPlatform.Web.ViewModels.Jobs.AllJobsViewModel
@inject ICategoriesService Categories
@{
    ViewData["Title"] = "Jobs Page";
}



<h2 align="center">My Jobs(@Model.Jobs.Count())</h2>
<div>
    <a class="btn btn-dark" asp-area="Employer" asp-controller="Dashboard" asp-action="Create">Add Job</a>
</div>
<span></span>
<hr />
<div>
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Company</th>
                <th scope="col">Category</th>
                <th scope="col">Level</th>
                <th scope="col">Engagement</th>
                <th scope="col">Location</th>
                <th scope="col">Salary</th>
            </tr>
        </thead>
        @foreach (var job in Model.Jobs)
        {
            <tbody>
                <tr>
                    <th scope="row"></th>
                    <td><img src="@job.CompanyLogo" width="80" class="mr-3" alt="@job.Title"></td>
                    <td><img src="@Categories.GetById(@job.CategoryId).ImageUrl" width="80" class="mr-3" /></td>
                    <td>@job.Level</td>
                    <td>@job.Engagement</td>
                    <td>@job.ViewSalary</td>
                    <td>@job.Location</td>
                    <td>
                        <a class="btn btn-primary" asp-area="Employer" asp-controller="Dashboard" asp-action="EditJob" asp-route-id="@job.Id">Edit</a>
                        <a class="btn btn-warning" asp-area="" asp-controller="Jobs" asp-action="Details" asp-route-id="@job.Id">Details</a>
                        <a class="btn btn-danger" asp-area="Employer" asp-controller="Dashboard" asp-action="Delete" asp-route-id="@job.Id">Delete</a>
                    </td>

                </tr>
            </tbody>
        }

    </table>
</div>


<script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
<script>
    $(".btn-danger").click(function (e) {
        if (confirm("Are you sure?")) {
            alert('OK');
        }
        else {
            e.preventDefault();
        }
    });
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    $('th').click(function () {
        var table = $(this).parents('table').eq(0)
        var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
        this.asc = !this.asc
        if (!this.asc) { rows = rows.reverse() }
        for (var i = 0; i < rows.length; i++) { table.append(rows[i]) }
    })
    function comparer(index) {
        return function (a, b) {
            var valA = getCellValue(a, index), valB = getCellValue(b, index)
            return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
        }
    }
    function getCellValue(row, index) { return $(row).children('td').eq(index).text() }
</script>